@import "tailwindcss";
:root {
  --color-primary: #8a2be2;
  --color-secondary: #00c6ff;
  --color-background: #0b0b10;
  --color-surface: #1c1c24;
  --color-text-primary: #ffffff;
  --color-text-secondary: #b0b0b5;
  --color-accent-glow: #ff00ff;
}
